{% extends "base.html" %}
{% set active_page = "all_artist" %}

{% block navbarperso %}
{% include 'includes/navbarsearch.html' %}
{% endblock %}

{% block main %}
<a class="btn btn-secondary" href="{{ url_for('add_artist') }}">Ajouter un nouvel artiste</a>
<div class="album py-5 bg-light">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for artist in artists %}
          {% include 'artist/includes/artist.html' %}
      {% endfor %}
      </div>
  </div>
</div>
<div class="btn-group m-2 mb-3">
  {% if page_number > 0 %}
  <a href="{{ url_for('all_artist',page_number = page_number-1, filter_gender=filter_gender, filter_type=filter_type, filter_value=filter_value)}}" class="btn btn-outline-secondary">Page prec</a>
  {% endif %}
  <a href="{{ url_for('all_artist',page_number = page_number+1, filter_gender=filter_gender, filter_type=filter_type, filter_value=filter_value)}}" class="btn btn-outline-secondary">Page suiv</a>
</div>
{% endblock %}
