{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
    <!-- TODO à passer en paramètres ça serait sympa -->
    {% set navigation_bar = [
    ('/artist', 'all_artist', 'Artistes'),
    ('/album', 'all_album', 'Album'),

    ] -%}
    {% if current_user.is_authenticated %}
        {% set navigation_bar_logged = [
        ('/dashboard', 'dashboard', 'Profil')
        ] -%}
    {% else %}
        {% set navigation_bar_logged = [] -%}
    {% endif %}

    {% set active_page = active_page|default('home') -%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a id="home" class="navbar-brand" href="/"
        >RockDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {% for href, id, caption in navigation_bar + navigation_bar_logged %}
                    <li class="nav-item {% if id == active_page %} active" style="  border-bottom: 1px solid black; {% endif %} "><a class="nav-link"
                                    href="{{ href|e }}">
                        {{ caption|e }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% block navbarperso %}
            {% endblock %}
            {% if current_user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{ current_user.username }}
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button">Profile</button>
                        <div class="dropdown-divider"></div>
                        <a class="btn dropdown-item" href="{{ url_for('logout') }}" title="Logout">Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="btn m-2" href="{{ url_for('login') }}" title="Sign In">Login</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}
{% block content %}

    <main role="main" class="container">
        {% include 'includes/messages.html' %}
        {% block main %}{% endblock %}
    </main>
{% endblock %}
