{% extends "base.html" %}
{% block main %}
    <form role="form" method="POST" , action="{{ url_for('login') }}" class="form-signin col-md-6 col-sm-12">
        {{ form.hidden_tag() }}
        <div class="form-group ">
            <label for="" class="col-sm-2 control-label">
                {{ form.name.label }}
            </label>
            <div class="col-sm-10">
                {{ form.name(placeholder = "Pseudo",type="text", class_="form-control", required="True") }}
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">
                {{ form.password.label }}
            </label>
            <div class="col-sm-10">
                {{ form.password(placeholder="Mot de passe", class_="form-control", required="True") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset col-sm-10">
                {{ form.submit(class_="btn btn-black") }}
                <a type="submit" class="btn btn-secondary" href="{{ url_for('signup') }}">S'enrengistrer</a>
            </div>
        </div>
    </form>
{% endblock %}
