<div class="col">
  <div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.history.ox.ac.uk/sites/default/files/history/images/person/unknown-person-icon-4_0.jpg" alt=" Image of{{ artist.name }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
    <div class="card-body">
      <p class="card-text">{{ artist.name }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a href="{{ url_for('one_artist',id =  artist.id ) }}" class="btn btn-sm btn-outline-secondary">View</a>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>