{% extends "base.html" %}
{% set active_page = "genre" %}

{% block main %}
    <a class="btn btn-secondary" href="{{ url_for('add_genre') }}">Ajouter un nouveau genre</a>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for genre in genres %}
                    {% include "genre/includes/genre.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}